{
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": false,
	"objectWrap": "preserve",

	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "as-needed",

	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf",

	"plugins": ["prettier-plugin-tailwindcss"]
}
